@import 'fonts.scss';
@import 'variables.scss';

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: #1F2041;
  background-color: #fff;
}

h1 {
  font-size: 24px;
  font-weight: 700;
}

h2 {
  font-size: 19px;
  font-weight: 700;
}

h3 {
  font-size: 12px;
  font-weight: 700;
}